@import url("https://fonts.google.com/specimen/Abel#standard-styles");

* {
    padding: 0;
    box-sizing:border-box;
}
/*include body styling*/
body {
    font-family: "Karla", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    background-size: cover;
    margin-top: auto;
    color: #000;
}

/*header style*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li {
    display: inline;
    margin: 30px;
}

header nav ul li a {
    text-decoration: none;
    color:#000;
}

ul {
    list-style-type: none;
}

span {
    color:cadetblue;
    text-decoration: none;
    padding: 30px;
    font-size: 150%;
    font-style: italic;
}

h1 {
    font-size: -webkit-xxx-large;
}

h2 {
    color: cadetblue;
    font-size: 32px;
}

h3 {
    position: absolute;
    top: 70%;
    left: 10%;
    background-color: #FFFFFF;
    color: black;
    padding: 1%;
    margin: 1%;
}
/*style to outline h3 and h4 headers visible on photos*/

.secondary {
    position: absolute;
    top: 40%;
    left: 10%;
}

h4 {
    color:#FFFFFF;
    font-size: small;
    position: absolute;
    top: 80%;
    left: 10%;
    background-color: #FFFFFF;
    color: black;
    padding: 1%;
    margin: 1%;
}

.row1 {
    width: 50%;
    position: relative;
}

.row2 {
    width: 50%;
    position: relative;
    margin-top: -10%;
}

.header2 {
    position: absolute;
    top: 50%;
    left: 10%;
}

header nav {
    float:right;
    display: inline;
}

.hero img {
    float:left;
    height: 300px;
    border-radius: 20%;
    padding: 20px;
    border-color: black;
    flex-shrink: inherit;
}

.intro {
    padding: 50px 40px;
    margin: 30px;
}

.about-me {
    margin-bottom: 5%;
}

#content {
    padding: 30px;
    background-color: rgb(0,0,0, .85);
    color: #FFFFFF;
}

.work-img {
    border: #FFFFFF;
    border-style: solid;
    border-width: thick;
    width: 100%;
}

.lowerimg{
    height: 75%;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact ul li {
    display: inline;
    margin: 30px;
}

.contact{
    background: #FFFFFF;
    color: cadetblue;
    padding-bottom: 5%;
    margin-left: 20%;
}

.contact h2 {
    margin-left: 31%;
    font-style: italic;
}

.contact img {
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main {
    width: 100%;
    position: relative;
}
