@import url("https://fonts.google.com/specimen/Abel#standard-styles");

* {
    padding: 0;
    box-sizing:border-box;
}
/*include body styling*/
body {
    font-family: "Karla", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    background-size: cover;
    margin-top: auto;
    color: #000;
}

/*header style*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid cadetblue;
}


header nav ul li {
    display: inline;
    margin: 30px;
}

header nav ul li a {
    text-decoration: none;
    color:#000;
}

ul {
    list-style-type: none;
}

span {
    color:cadetblue;
    text-decoration: none;
    padding: 30px;
    font-size: 150%;
    font-style: italic;
}

.hero img {
    float: left;
    height: 280px;
    padding: 20px;
    border-color: black;
}


 .hero {
     padding: 2% 10% 10% 10%;
     display: flex;
     justify-content: space-between;
     background-image: ("../assets/images.topo.png");

 }

 

h1 {
    font-size: 2.5rem;
}


.intro {
    padding: 50px 40px;
    margin: 30px;
}

h2 {
    color: cadetblue;
    font-size: 32px;
}

h3 {
    position: absolute;
    top: 70%;
    left: 10%;
    background-color: #FFFFFF;
    color: black;
    padding: 1%;
    margin: 1%;
}
/*style to outline h3 and h4 headers visible on photos*/

.work-type {
    position: absolute;
    top: 40%;
    left: 10%;
}

h4 {
    color:#FFFFFF;
    font-size: small;
    position: absolute;
    top: 80%;
    left: 10%;
    background-color: #FFFFFF;
    color: black;
    padding: 1%;
    margin: 1%;
}

.work-title1 {
    width: 50%;
    position: relative;
}

.work-title2 {
    width: 50%;
    position: relative;
    margin-top: -10%;
}

.type-subtitle {
    position: absolute;
    top: 50%;
    left: 10%;
}

header nav {
    float:right;
    display: inline;
}


.about-me {
    margin-bottom: 5%;
}

#content {
    padding: 10%;
    background-color: rgb(0,0,0, .85);
    color: #FFFFFF;
}

.work-img {
    border: #FFFFFF;
    border-style: solid;
    border-width: thick;
    width: 100%;
}

/*work images to display below run-buddy on bottom*/
.lowerimg{
    height: 75%;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact p {
    display: inline;
    margin: 30px;
    align-items: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}

.contacts {
    color: cadetblue;
}


.contact { 
    color: cadetblue;
    padding-bottom: 5%;
    margin-left: 10%;
}

.contact p {
    font-size: 1rem;
    text-decoration: none;
}

.contact h2 {
    margin-left: 31%;
    font-style: italic;
}

/*display run-buddy as main*/
.main {
    width: 100%;
    position: relative;
}


/*
#icons {
    height: 1px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   text-decoration: none;
}
*/


@media screen and (max-width: 980px) {
    header nav ul li {
        margin-top: 120%;
    }
    .hero h1 {
        width: 100%;
        text-align: center;
        font-size: 35px;
    }
    .contact h2 {
        width: 25%;
        text-align: center;
        font-size: xx-large;
    }

    .contact ul li {
        font-size: smaller;
        text-align: left;
        width: 90%;
    }


}